.btn_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  /* border: 1px solid rgb(178, 250, 97); */
}

.btn {
  background-color: var(--color-primary-text);
  color: var(--color-bg);
  border: 1px solid var(--color-primary-text);
  border-radius: 50px;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-left: 0;
  min-width: 2.85rem;
  transition: var(--transition);
  letter-spacing: 0.5px;
}

.btn:hover {
  background-color: var(--light-blue);
  color: var(--color-bg);
  border: 1px solid var(--light-blue);
  cursor: pointer;
  /* Animation on button hover */
  animation: pulse; 
  animation-duration: 2s;
}

.contact_btn {
  background-color: var(--color-bg);
  color: var(--color-primary-text);
  border: 1px solid var(--color-primary-text);
  margin-right: 0;
  transition: var(--transition);
}

.contact_btn:hover {
  background-color: var(--light-blue);
  color: var(--color-bg);
  border: 1px solid var(--light-blue);
  cursor: pointer;
}

.about_me_icons {
  margin-right: 0.25rem;
}
.contact_icon {
  margin-right: 0.25rem;
}

/* Typewriter text class */
.profession {
  font-weight: 700;
}

.resume_btn_text::before {
  content: "Resume";
}
.github_btn_text::before {
  content: "GitHub";
}
.linkedin_btn_text::before {
  content: "LinkedIn";
}
.contact_btn_text::before {
  content: "Contact";
}

@media screen and (max-width: 497px) {
  .resume_btn_text::before,
  .github_btn_text::before,
  .linkedin_btn_text::before{
    content: "";
  } 
  /*
  .about_me_icons {
    margin-right: 0; 
  } */
}

@media screen and (max-width: 341px) {
  .contact_btn_text::before {
    content: "";
  }
  .contact_icon {
    margin-right: 0;
  }
}

@media screen and (min-width: 789px) {
  .btn {
    width: 6.5rem;
  }
}

@media screen and (max-width: 441px) {  
  h1 {
    font-size: 1.73rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  p {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 382px) {  
    
  h1 {
      font-size: 1.24rem;
  }
  h3 {
      font-size: 0.8rem;
  }
  p {
      font-size: 0.7rem;
  }
}
@media screen and (max-width: 288px) { 
  .btn {
    padding: 0.25rem;
    min-width: 2.75rem;
  }
}
