.greet {
  /* border: 1px solid lime; */
  margin-bottom: 1rem;
}

.greet_exclaimation {
  color: var(--light-blue);
}
.about_me {
  /* border: 1px solid yellow; */
  width: 70%;
  word-wrap: break-word;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.about_me_name {
  font-weight: 700;
  color: var(--light-blue);
}
.btn_container {
  /* border: 1px solid red; */
  width: 35%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.about_me_icons {
  color: var(--color-primary-text);
  background-color: transparent;
  border: 1px solid var(--color-primary-text);
  border-radius: 1rem;
  padding: 0.5rem 1.25rem;
}

.about_me_icons:hover {
  color: var(--color-bg);
  border: 1px solid transparent; 
  background-color: var(--light-blue);
  transition: var(--transition);
  /* Animation on button hover */
  animation: pulse; 
  animation-duration: 2s;
  
}

@media screen  and (max-width:825px){
  .about_me {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .btn_container {
    /* border: 1px solid red; */
    width: 100%;
    gap: 0;
  }
  .about_me {
    /* border: 1px solid yellow; */
    width: 100%;
    letter-spacing: 0.5px;
  }
  h1 {
    /* font-size: 2rem; */
    font-size: 1.5rem;
  }
  h2 {
    /* font-size: 1.5rem; */
    font-size: 1.125rem;
  }
  h3 {
    /* font-size: 1.17rem; */
    font-size: 0.8775rem;
  }
  h4 {
    /* font-size: 1rem; */
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 340px) {
  .about_me_icons {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 290px) {
  .about_me_icons {
    padding: 0.5rem 0.75rem;
  }
}

/* 
@media screen and (min-width: 789px) {
  .btn {
    width: 6.5rem;
  }
  p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 441px) {  
  .name_header {
    font-size: 2.4rem;
  }
  h1 {
    font-size: 1.73rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  p {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 382px) {  
  .name_header {
    font-size: 1.75rem;
  } 
  h1 {
      font-size: 1.24rem;
  }
  h3 {
      font-size: 0.8rem;
  }
  p {
      font-size: 0.7rem;
  }
}
@media screen and (max-width: 288px) { 
  .btn {
    padding: 0.25rem;
    min-width: 2.75rem;
  }
} */
