.skills_section {
    margin-top: 4rem;
    /* padding: 0 0 100px; */
    
    /* border: 2px solid rgb(226, 127, 65); */
}

.skills_container {
    padding-right: auto;
    padding-left: auto;
    /* width: var(--container-width-l); */
    /* border: 1px solid rgb(218, 216, 75); */
}

.skills_groups {
    /* border: 1px solid rgb(239, 79, 26); */
    display: flex;
    justify-content: space-between;
}

.left_skills_group, .right_skills_group {
    width: 46.5%;
    /* border: 1px solid rgb(26, 175, 239); */
}

.skill_info {
    /* border: 1px solid rgb(229, 72, 72); */
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

/* .skills_bar {
    margin-top: 0.5rem;
} */

.skills_header, .kills_header {
    display: inline;
    font-weight: bold;
    letter-spacing: 2px;
}

@media screen and (max-width: 369px) {
    .skills_section {
        margin-top: 1.5rem;
        /* border: 1px solid limegreen; */
    }
    .skills_groups {
        /* border: 1px solid rgb(239, 79, 26); */
        display: flex;
        flex-direction: column;
        
    }
    .left_skills_group, .right_skills_group {
        width: 100%;
    }
    .skill_info {
        margin: 0.35rem 0;
    }
}