.homepage {
    min-height: 100vh;
    /* border: 1px solid royalblue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 0 auto;  
}
.projects_page {
    /* height: 100vh; */
    /* border: 1px solid royalblue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_header {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 0.5rem;

    /* trying the half underline/border  */
    display: inline-block;
    position: relative;
}
.section_header::before{
    content: '';
    position: absolute;
    width: 50%;
    /* height: 1px; */
    bottom: 0;
    left: 0;
    border-bottom: 2px solid var(--light-blue);
}
.footer {
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--light-blue);
    margin: 1rem auto;
    letter-spacing: 1.5px;
}