@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');


*, *::before, *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    font-family: 'Josefin Sans', sans-serif;
    word-wrap: break-word;
    --color-bg: #313848;
    --light-blue: #8ADFDC;
    --dark-blue: #5e8b92;
    --dark-purple: #735372;
    --light-purple: #8F758E;
    --bright-purple: #CDB2CC;
    --color-primary-text: #ffffff;
    --darker-bg: #232833;
    
    --container-width-l: 75%;
    --container-width-m: 85%;
    --container-width-s: 90%;

    --button-font-family: 'Urbanist';
    --heading-font-family: 'Josefin Sans';
    --body-font-family: 'Nunito';
    --name-header-font-family: 'Caveat';

    --transition: all 600ms ease;
    --transition-icon: all 200ms ease-in;
    
    background-image: url(../src/Assets/bg-texture.png);
    /* background-image: url(../src/Assets/ag-square.png); */
    background-color: var(--color-bg);
    color: var(--color-primary-text);
    line-height: 1.7;
    font-size: 16px;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

/* Elements and shit */

.container {
    width: var(--container-width-l);
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

h1 {
    font-size: 2rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.88rem;
}
strong {
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-s);
    }
}
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-m);
    }
}


