.projects_section {
    /* border: 2px solid rgb(226, 127, 65); */
    margin: 0 auto;
    width: 100%;
}

.projects_container {
    padding-right: auto;
    padding-left: auto;
    /* border: 1px solid rgb(218, 216, 75); */
}

.projects_grid_group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 2rem;

    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    padding: 1rem 0 1rem;
}

.projects_item {
    /* background-color: var(--darker-bg); */
    background-color: rgba(200, 200, 200, 0.21);
    padding: 0 0 1rem;
    border-radius: 1rem;
    transition: var(--transition);
    border: 1px solid transparent;
    backdrop-filter: blur(5px);

}
.project_item_info {
    /* border: 2px solid lime; */
    display: flex;
    justify-content: space-between;
}
.link_icon {
    visibility: hidden;
    transition: var(--transition-icon);
    padding: 0 1rem 0 0;
    
}
.projects_item:hover {
    background-color: transparent;
    border: 1px solid var(--light-blue);
    .link_icon {
        visibility: visible;
    }
}

.projects_item_title {
    color: var(--color-primary-text);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.85rem;
    padding: 0 0 0 1rem;
}

.projects_item_img {
    max-width: 100%;
    padding: 0;
    border-radius: 1rem;
    height: fit-content;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .projects_grid_group {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .projects_grid_group {
        grid-template-columns: 1fr;
        gap: 1rem;
        height: min-content;
    }  
}